{% macro thema_box(thema, thumbnails, covers, os, app, href='#') %}

  <div class="flex flex-col rounded-lg shadow-2xl overflow-hidden ring-teal-300 hover:ring-4 border-2 border-teal-900">
    <div class="flex-shrink-0 relative">
      <img class="h-64 w-full object-cover" src="{{ os.path.join(app.config['UPLOADED_PHOTOS_DEST'], covers[0])|resize('512', format='jpg') }}" alt="">
      <div class="absolute flex-1 w-full bg-white flex flex-col justify-between opacity-80 text-center bottom-0 tracking-widest uppercase">
        <div class="flex-1">
          <p class="text-lg font-bold text-teal-800">
            <a href="{{ href }}" class="hover:underline">
              {{ thema }}
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-row w-full h-16">
      <img class="w-1/4 object-cover" src="{{ os.path.join(app.config['UPLOADED_PHOTOS_DEST'], thumbnails[0])|resize('128x96', format='jpg') }}" alt="">
      <img class="w-1/4 object-cover" src="{{ os.path.join(app.config['UPLOADED_PHOTOS_DEST'], thumbnails[1])|resize('128x96', format='jpg') }}" alt="">
      <img class="w-1/4 object-cover" src="{{ os.path.join(app.config['UPLOADED_PHOTOS_DEST'], thumbnails[2])|resize('128x96', format='jpg') }}" alt="">
      <img class="w-1/4 object-cover" src="{{ os.path.join(app.config['UPLOADED_PHOTOS_DEST'], thumbnails[3])|resize('128x96', format='jpg') }}" alt="">
    </div>
  </div>
  
{% endmacro %}